<div class="container text-center mt-5"></div>
    <div class="moving-line">A comprehensive platform for reliable job opportunities and internships.</div>
    <div class="my-3">Get Discovered. Get Hired.</div>
    <div>
        <a href="/job" class="btn btn-custom" style="background-color: #e01a87;">I am Job Seeker</a>
        <a href="/login" class="btn btn-custom" style="background-color: #e01a87;">I am Recruiter</a>
    </div>
</div>