<div class="container"></div>
    <div class="access-message">
        <h1>Only recruiters are allowed to access this page.</h1>
        <h2><a href="/login" class="btn btn-primary">Login as Recruiter</a> to continue.</h2>
    </div>
</div>