/* 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d0f6b;
    margin: 0;
} */


.form-div{
    border: 0.1rem,solid,rgb(29, 28, 28);
    height:20rem;
    width:40rem;
    margin-top:2rem;

}


body {
    background: linear-gradient(to right, #06cccc, #3e77e2);
    background-image: "https://easily-deploy.onrender.com/images/banner.png";
}
